[project]
	description = Redcurrant core repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Redcurrant Team
[access "refs/for/refs/*"]
	read = group user/Remi Nivet (rnivet)
	push = group user/Remi Nivet (rnivet)
	label-Code-Review = -2..+2 group user/Remi Nivet (rnivet)
	label-Verified = -1..+1 group user/Remi Nivet (rnivet)
	rebase = group user/Remi Nivet (rnivet)
	removeReviewer = group user/Remi Nivet (rnivet)
	submit = group user/Remi Nivet (rnivet)
[access "refs/heads/*"]
	read = group user/Remi Nivet (rnivet)
	create = group user/Remi Nivet (rnivet)
	push = +force group user/Remi Nivet (rnivet)
	pushMerge = group user/Remi Nivet (rnivet)
[access "refs/tags/*"]
	push = +force group user/Remi Nivet (rnivet)
	pushTag = group user/Remi Nivet (rnivet)
	pushSignedTag = group user/Remi Nivet (rnivet)
